:root {
  --hue-color: 0; /* green 105 / 73 / 35 */
  --segunda-color: #C50000;
  --terceira-color: #7D7463;
  --quarta-color: #FFFDEF;
  --detalhe-color: #7eca21;
  --theme-color: #2E4F4F;
  --color-text:#ECFFE6;
  --color-text-hover:#ECFFE6;

  --primeira-cor: hsl(var(--hue-color), 70%, 50%);
  --segunda-cor: hsl(var(--hue-color), 100%, 50%);
  --terceira-cor: hsl(var(--hue-color), 100%, 20%);
  --quarta-cor: hsl(var(--hue-color), 100%, 80%);

  --primeira-cor-seg: hsl(var(--hue-color), 80%, 80%);
  --segunda-cor-seg: hsl((var(--hue-color)), 100%, 100%);
  --terceira-cor-seg: hsl(var(--hue-color), 70%, 40%);
  --quarta-cor-seg: hsl((var(--hue-color)), 54%, 40%);

  --primeira-cor-lighter: hsl(var(--hue-color), 49%, 10%);
  --segunda-cor-lighter: #ececec;
  --terceira-cor-lighter: hsl((var(--hue-color)), 50%, 30%);
  --quarta-cor-lighter: hsl((var(--hue-color)), 70%, 60%);

  --titulo-cor: hsl(var(--hue-3-color), 8%, 15%);
  --texto-cor: hsl(var(--hue-3-color), 8%, 45%);
  --texto-cor-light: hsl(var(--hue-3-color), 8%, 65%);
  --input-cor: hsl(var(--hue-3-color), 70%, 96%);
  --body-cor: hsl(var(--hue-3-color), 0%, 99%);
  --container-cor: #F4E0B9;
  --scroll-bar-cor: hsl(var(--hue-3-color), 12%, 90%);
  --scroll-thumb-cor: hsl(var(--hue-3-color), 12%, 80%);

  --body-font: 'Poppins', sans-serif;
  --Info-font: 'Roboto', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --z-fixed: 100;
}

body.dark-theme{
  /* HSL color mode */
  --segunda-color: #aa2020;
  --terceira-color: #ffffff;
  --quarta-color:  #221f1f;
  --detalhe-color: #7eca21;
  --color-text:#DEDEDE;
  --color-text-hover:#ECFFE6;
  --primeira-cor-seg: hsl(var(--hue-color), 30%, 5%);
  --segunda-cor: hsl(var(--hue-color), 20%, 80%);
  --terceira-cor: hsl(var(--hue-color), 77%, 22%);
  --primeira-cor-lighter: hsl(var(--hue-color), 60%, 50%);
  --titulo-cor: hsl(var(--hue-color), 30%, 95%);
  --text-cor: hsl(var(--hue-color), 6%, 75%);
  --input-cor: hsl(var(--hue-color), 29%, 16%);
  --body-cor: #252525;
  --container-cor: hsl(var(--hue-color), 28%, 16%);
  --theme-color: #C10000;
}

/* Button Dark/Light */
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  margin-right:  var(--mb-1);
  font-size: 1.25rem;
  color:var(--title-color);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--primeira-cor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--body-font);
}

body {
  display: flex;
  flex-direction: column;
  background: var(--body-cor);
}

.section {
  padding: 2rem 0 4rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;
}


.grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.logo-item {
  width: 50%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav {
  padding: 1.5rem;
  display: flex;
  gap: 20px;
}

.icon-moon {
  font-size: 2.5em;
  color: var(--theme-color);
}

.icon-moon:hover {
  color: var(--terceira-color);
}

.main {
  max-width: 100%;
  flex-grow: 1;
}

.main-container {
  margin: var(--mb-1-5);
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: var(--quarta-color);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: var(--z-fixed);
}

.main-content,
.area-encrypted,
.formulario-content {
  padding: var(--mb-1-5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
}

.main-content {
  margin-bottom: var(--mb-1-5);
  flex-direction: column;
}
.main-content-info {
  width: 500px;
}

.main-title {
  font-size: 3.5rem;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: var(--terceira-color);
}

strong {
  color: var(--container-cor);
}

.detail-description {
  color: var(--detalhe-color);
  font-size: 3.4rem;
  font-family: var(--Info-font);
}

.main-description {
  display: block;
  margin:  auto;
  width: 85%;
  height: 9,4%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--Info-font);
  background: transparent;
  text-align: center;
  border: none;
  color:var(--terceira-color)
}

textarea {
  resize: none;
}

#message::-webkit-input-placeholder {
  padding-top: 20px;
  border: none;
}

.main-description, textarea:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.main-box{
  display: flex;
}

.main-box-alert{
  margin-bottom: var(--mb-1);
  display: flex;
  gap: .5rem;
  color: var(--terceira-color);
}
.main-container-button{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-container-button .button {
  flex-direction: row;
  width: 200px;
  background: var(--terceira-cor); 
  border-radius: 15px;
}

.main-container-button .button-crypt:hover {
background-color: var(--primeira-cor-lighter);
}

.main-container-button .button-descrypt {
  background: transparent;
  border: 1px solid rgb(169, 181, 150);
  box-shadow: 0 8px 32px 0 rgba(201, 201, 201, 0.249);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(169, 181, 150, 0.405) ;
  text-align: center;
  color: var(--terceira-color);
}

 .button-descrypt:hover{
  background: var(--segunda-cor-lighter);
  color: var(--segunda-cor);
}

.area-encrypted {
  background-color: var(--segunda-color);
  display: flex;
  flex-direction: column;
  width: 70%; 
  height: 944px;
  margin-top: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: var(--z-fixed);
  position: relative;
  inset: -4% 25%;
  gap: 10rem;
  border-radius: 1.5rem;
}

.area-encrypted::before {
  content: "";
  display: block;
  width: 90px;
  height: 120px;
  background: var(--segunda-color);
  border-radius: 5px;
  position: absolute;
  left: -9.5%;
  z-index: -1000;
}

.area-encrypted-content {
  display: flex;
  flex-direction: column-reverse;
  width: 100%; /* Ajuste padrão para responsividade */
  max-width: 450px; /* Máximo de 450px em telas maiores */
  /* Centralizar */
  height: 15%;
  gap: 3rem;
  border-radius: 4px;
  text-align: center;
}

@property --eyelid {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --eyelid2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.eyes {
  width: 250px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
  div {
    position: relative;
    width: 90px;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 116%;
      height: 165%;
      left: 50%;
      animation: eyelid 5s ease-in-out infinite;
      z-index: 1;
    }
    &:before {
      top: 0;
      border-radius: 0% 0% 40% 40%;
      transform: translateY(var(--eyelid)) translateX(-50%);
      border-bottom: 40px solid black;
    }
    &:after {
      bottom: 0;
      border-radius: 40% 40% 0% 0%;
      transform: translateY(var(--eyelid2)) translateX(-50%);
      border-top: 40px solid black;
    }
    i {
      position: absolute;
      width: 60px;
      aspect-ratio: inherit;
      background: black;
      border-radius: inherit;
    }
  }
}

@keyframes eyelid {
  0% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  3% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
  6% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  9%,100% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
}

@keyframes blink {
  0%, 100% { height: 100%; }
  50% { height: 0; }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 50%;
  gap: .5rem;
  position: relative;
}
.eye {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}

.pupil {
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye.blinking .pupil {
  animation: blink 0.2s steps(1, end) infinite;
}

.area-encrypted-title{
  margin: 0 auto;
  width: 80%;
  color: var(--container-cor);
}

.main-title{
  font-size: var(--h1-font-size);
}

.button {
  margin: 1rem;
  width: 100%;
  max-width: 289px;
  height: 40px;
  background: var(--quarta-color);
  text-transform: uppercase;
  font-size: .890rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s linear;
  color: var(--color-text);
}

.button-message {
  width: 100%;
  max-width: 289px;
  height: 40px;
  background: var(--quarta-color);
  text-transform: uppercase;
  font-size: .890rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s linear;

  color: var(--terceira-color);
}

.button-crypt:hover {
  background: var(--segunda-cor-lighter);
  color: var(--segunda-cor);
}
.button-message:hover {
  background: var(--segunda-cor-lighter);
  color: var(--segunda-cor);
}
.footer {
  padding-top: -2rem;
  background-color: var(--segunda-color);
  width: 100%;
}

.footer-container {
  display: grid;
  row-gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.footer-bg {
  padding: 2rem 0 3rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-social {
  color: var(--color-text);
}

.footer-social:hover {
  color: var(--primeira-cor-seg);
}

.footer-socials {
  display: flex;
  gap: var(--mb-2-5);
  margin-right: var(--mb-1-5);
  font-size: 1.25rem;
}

.footer-copy {
  color: var(--primeira-cor-seg);
  font-size: var(--normal-font-size);
  text-align: center;
}

/* Base styling */


@media screen and (max-width: 799px) {
  .wrapper {
    display: grid;
    height: 90%;
  }
  .eyes {
    display: none;
  }
  .button-message {
    height: 90px;
  }
}

@media screen and (max-width: 320px) {
  .main-container {
    margin: 0 auto;
    padding: 1rem;
    width: 270px;
  }
  .section {
    padding: 0;
  }
  .main-box-alert {
    margin: 0 auto;
    width: 40%;
  }
  .main-content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 389px) {
  .section {
    padding: 0;
  }
  .area-encrypted {
    width: 70%;
    margin-top: 10%;
    margin-left: 0.1%;
    inset: 1.5% 10%;
  }
  .area-encrypted-content {
    width: 90%;
  }
  .area-encrypted-title {
    margin: 0 auto;
    width: 200px;
    text-align: center;
  }
}

@media screen and (min-width: 390px) {
  .area-encrypted-content {
    width: 380px;
  }
  .main-title {
    font-size: 2.1rem;
    z-index: 2000;
  }
  .formulario-content {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .icon-moon {
    font-size: 1rem;
  }
  .area-encrypted {
    width: 75%;
  }
  .main-box-alert {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (max-width: 568px) {
 
  body {
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    justify-content: center;
  }
  .icon-moon {
    font-size: 2rem;
  }
  .main-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .logo-main {
    padding: 1rem;
  }
  .main-content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 100%;
  }
  .main-content-info {
    width: 300px;
  }
  .main-description {
    max-width: 100%;
  }
  .main-container-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario {
    margin-top: 10%;
  }
}

@media screen and (min-width: 800px) {
  .area-encrypted-content {
    width: 450px;
  }
  .wrapper {
    display: none;
  }
  .eyes {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    gap: 0;
  }
  .footer {
    padding: 0;
  }
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .footer-copy {
    grid-row: 4;
    grid-column: 2;
  }
}

@media screen and (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .icon-moon {
    font-size: 1.5rem;
  }
  .logo-item {
    padding: 1rem;
  }
  .grid {
    justify-content: center;
  }
  .section {
    padding: 4rem 2rem;
    max-width: 100%;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-content {
    gap: 4rem;
  }
  .area-encrypted {
    inset: -2.5% 15%;
  }
}
